@(user: User, cardTransactionForm: Form[CardTransaction])

@import helper._

@main("Index") {
	<header>
		<a href="@routes.Application.index" id="logo"><span>Home</span></a> |
		<a href="@routes.Application.users"><span>Users</span></a> |
		<a href="@routes.Application.roles"><span>Roles</span></a> |
		@if( user != null ) {
			<a href="@routes.Application.logout()"> Logout (@user.name)</a> 
		} 
	</header>
	<br/>
	<h2>
		Saldo atual: 
		@if(user.cardBalance > 0) {
			<positive>@user.cardBalance</positive>
		}  
		@if(user.cardBalance < 0) {
		  	<negative>@user.cardBalance</negative>
		} 
		@if(user.cardBalance == 0) {
			@user.cardBalance
		}
	</h2>

	@if(user.cardBalance > 0) {
		<h2>Realizar transferência:</h2>
		@form(routes.Application.newCardTransaction()) {
			@inputText(cardTransactionForm("amount"))
			@inputText(cardTransactionForm("to"))
			<input type="submit" value="Transfer">
		}
	}
	
	@form(routes.Application.getCardStatement(user.id)) {
		@inputText(cardTransactionForm("start"))
		@inputText(cardTransactionForm("end"))
		<input type="submit" value="Get statement">
	}
	
	
	<!--TODO: 
		Add to user a default card statement, set from zero time to current date.
		When calling for a new card statement, update those date values and regenerate.	
	-->
	<div id="statement">
		<h2>User statement between @user.getCardStatement("01/01/2000", "04/04/2015").getFormattedStartDate() and @user.getCardStatement("01/01/1900", "04/04/2015").getFormattedEndDate():</h2>
		
		<div class="container">
			<div class="heading">
		  		<div class="col">From:</div>
		  		<div class="col">To:</div>
		  		<div class="col">Amount:</div>
		  		<div class="col">Date:</div>
			</div>
			@for(cardTransaction <- user.getCardStatement("01/01/2000", "04/04/2015").getCardTransactions()) {
				<div class="table-row">
					<div class="col">@User.findById(cardTransaction.getOriginUserId()).getName()</div>
					<div class="col">@User.findById(cardTransaction.getDestinyUserId()).getName()</div>
					<div class="col">
						@if( user.getName().equalsIgnoreCase(User.findById(cardTransaction.getOriginUserId()).getName())) {
							<negative>
								- @cardTransaction.getAmount()
							</negative>	
						} else {
							<positive>
								@cardTransaction.getAmount()
							</positive>	
						}
					</div>
					<div class="col">@cardTransaction.getFormattedTimestamp()</div>
				</div>
			}
		</div>
		<div class="container">
			<div class="heading">
		  		<div class="col">Total balance for the period: @user.getCardStatement("01/01/2000", "04/04/2015").getEndBalance()</div>
			</div>
		</div>	
	</div>
}	