@(form: Form[Application.Login], user: User)

@main("Login") {
	<head>
		<title>Login</title>
		<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
		<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/login.css")">
	</head>
	<body>
		<header>
			<a href="@routes.Application.index" id="logo"><span>Home</span></a> |
			<a href="@routes.Application.users"><span>Users</span></a> |
			<a href="@routes.Application.roles"><span>Roles</span></a> |
			@if( user != null ) {
				<a href="@routes.Application.logout()"> Logout (@user.name)</a> 
			}
		</header>
		<div class="loginbox">
		@helper.form(routes.Application.authenticate) {
				</br>
				<h1>Sign in</h1>
				@if(form.hasGlobalErrors) {
					<p class="error"><b>@form.globalError.message</b></p>
				} 
				@if(flash.contains("success")) {
					<p class="success"><b>@flash.get("success")</b></p>
				}
				<p>
					<input type="email" name="email" placeholder="Email" value="@form("email").value">
				</p>
				<p>
					<input type="password" name="password" placeholder="Password">
				</p>
				<p>
					<button type="submit" style="float: right;">Login</button>
				</p>
		}
		</div>
	</body>
}

