@(roles: List[Role], roleForm: Form[Role], user: User)

@import helper._

@main("Roles") {

	<header>
		<a href="@routes.Application.index" id="logo"><span>Home</span></a> |
		<a href="@routes.Application.users"><span>Users</span></a> |
		<a href="@routes.Application.roles"><span>Roles</span></a> |
		@if( user != null ) {
			<a href="@routes.Application.logout()"> Logout (@user.name)</a> 
		}
	</header>
  
	<h2>Role list [@roles.size role(s)]:</h2>

	<h2> Add a new role: </h2>
	@form(routes.Application.newRole()) {
	    @inputText(roleForm("name"))
	    <input type="submit" value="create">
	}
		
	<div class="container">
		<div class="heading">
			<div class="col">Name:</div>
		  	<div class="col">Permissions:</div>
		  	<div class="col">Delete role:</div>
		  	<div class="col">Add permission:</div>
		  	<div class="col">Remove permission:</div>
		</div>
		@for(role <- roles) {
		  	<div class="table-row">
				<div class="col">@role.name</div>
		  	  	<div class="col" style="width:50%">@role.permissions</div>
				<div class="col">
		  	  		@form(routes.Application.deleteRole(role.id)) {
				 		<input type="submit" value="delete">
					}
				</div>
				<div class="col">
					@form(routes.Application.addPermission(role.id)) {
						@inputText(roleForm("permission")) 
						<input type="submit" value="Add">
					}
				</div>
				<div class="col">
					@form(routes.Application.removePermission(role.id)) {
						@inputText(roleForm("permission")) 
						<input type="submit" value="delete">
					}
				</div>
			</div>
		}	  
	</div>
}